.container {
  min-height: 100vh;
  padding: 1rem;
  background-color: #f0f0f0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.editorGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: calc(100vh - 120px);
  padding: 1rem
}

@media (min-width: 768px) {
  .editorGrid {
    grid-template-columns: 1fr 1fr;
  }
}